
*{box-sizing: border-box;}

/* 모바일 */
.wrapper{
    width: 100%;
    margin: 0 auto;
}

body{ text-align: center;}

header, footer{width: 100%;}
nav, section{width: 100%;; height: 400px;}

/* footer{clear: both;} */ 
/* 모바일은 세로로 정렬이 되어야 하기 때문에 nav, section이
   float:left 가 필요가 없어짐=> 고로 footer가 말려들어가는 현상도 없어짐으로
   footer{clear: both;} 속성도 없어져도 무방함 */


header, nav, section, footer{
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}

/*  태블릿 - 800px */
@media screen and ( min-width: 800px) {
    .wrapper { max-width: 90%;}
    header, footer { width: 100%; }
    nav, section { float: left; }
    nav { width: 20%; margin-right: 1.5%; }
    section { width: 78.5%; }
    footer { clear: both; }
}

/*  PC - 1000px */
@media screen and (min-width: 1000px) {
    .wrapper { width: 70%; }
}